.flex-box{
    display: flex;
    flex-direction: column;
}


.inner-flex{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.tag-mid{
    text-align: center;
    border: 3px solid green;
}

.body-style{
    background-image: url('back.jpg');
    opacity: 30%;
}